to_delete/
html/
fittingtest/
*.orig
DE_test/
examples/
reference/old/
postprocessing/
constraint_examples/
pgraphs.m
standalone/
UDFs/
views/
rotate_labels/
export_fig/
nelder_mead.m
optimiseMLEDE.orig.m
monitorJob.m
selectVecold.m
*.ip
rotor_inputfile_plot_residuals
rotor_inputfile_calc_sgen
rotor_inputfile4
rotor_inputfile2_SIMPLE_FULL
rotor_inputfile2_SIMPLE
rotor_inputfile2_FULL
myaa.m
graphResultsoldSKEH.m
extract_torque_from_report.m
extract_annular_from_report.m
costfuncCFDoldSKEH.m
processResultsCFDv2oldSKEHplusExp.m
processResultsCFDv2oldSKEHplusDebug.m
processResultsCFDv2oldSKEHNoEnergy.m
processResultsCFDv2oldSKEH.m
LHSpar/
